{% extends "base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col s12">
            <div class="card"
                data-controller="general-form" 
                data-general-form-url-value="/API/usuario" 
                data-general-method-value="PUT"
                data data-general-form-token-value="{{app.session.get("apiToken")}}" 
            >
                <div class="card-content">
                    {{form(form)}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}